<ul class="list-group mt-3">
  <li class="list-group-item"><%= link_to "ホーム", root_path,class: 'fas fa-home' %></li>
  <li class="list-group-item"><%= link_to "投稿", post_images_path, class: 'fas fa-star' %></li>
  <li class="list-group-item"><%= link_to "いいね", favorites_users_path, class: 'fas fa-heart' %></li>
  <li class="list-group-item"><%= link_to "ブックマーク", bookmarks_users_path, class: 'fas fa-bookmark' %></li>
  <li class="list-group-item"><%= link_to "スケジュール", events_path, class: 'fas fa-calendar-alt' %></li>
  <li class="list-group-item"><%= link_to "退会する", confirm_unsubscribe_path(current_user), class: 'fas fa-user-slash' %></li>
</ul>