<ul class="list-group">
  <li class="list-group-item"><%= link_to "ホーム", root_path %></li>
  <li class="list-group-item"><%= link_to "投稿", post_images_path %></li>
  <li class="list-group-item"><%= link_to "いいね", favorites_users_path %></li>
  <li class="list-group-item"><%= link_to "ブックマーク", bookmarks_users_path %></li>
  <li class="list-group-item"><%= link_to "スケジュール", events_path %></li>
  <li class="list-group-item"><%= link_to "退会する", confirm_unsubscribe_path(current_user) %></li>
</ul>