<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <h2 class="font-weight-bold">プロフィール</h2>
      <%= form_with model: @user,local:true do |f| %>
      <div class="field mb-3">
        <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size:'200x200', class: 'rounded-circle' %><br>
        <label for="inputImage">プロフィール画像</label>
        <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
      </div>
      <div class="field mt-3">
        <label>ユーザー名</label><br>
        <%= f.text_field:name, class: 'form-control' %>
      </div>
      <div class="action mt-3">
       <%= f.submit'変更内容を保存',class: "action btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
