<div class="toppage">
  <h1 class="top">カレンダー</h1><br>
  <div class="row">
    <div class="col-md-4">
    	<div class="schedule">今後の予定一覧</div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>タイトル</th>
              <th>日程</th>
            </tr>
          </thead>

          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= link_to event.title , event %></td>
                <td><%= event.start_time.strftime("%m-%d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= form_with(model: @event, local: true) do |form| %>
        <div class="title">
          <div class="form-tag">タイトル</div>
          <%= form.text_field :title %>
        </div>
        <div class="time">
          <div class="form-tag">時間</div>
          <%= form.datetime_select :start_time %>
        </div>
        <div class="submit">
          <%= form.submit %>
        </div>
        <% end %>
      </div><br>
      <br>
      <div class="col-md-8">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>

          <% events.each do |event| %>
            <div>
              <%= link_to event.title, event %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>