<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/menu' %>
    </div>
    <div class="col-md-8">
    	<h4 class="schedule font-weight-bold mt-3">今後の予定</h4>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>タイトル</th>
            <th>日程</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.title , event, class: 'link' %></td>
              <td><%= event.start_time.strftime("%m/%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h4 class="font-weight-bold mt-4">スケジュール登録</h4>
      <%= form_with(model: @event, local: true) do |f| %>
      <div class="title">
        <div class="form-tag">タイトル</div>
        <%= f.text_field :title,size: '40' %>
      </div>
      <div class="time">
        <div class="form-tag">時間</div>
        <%= f.datetime_select :start_time %>
      </div>
      <div class="submit mt-3 mb-5">
        <%= f.submit '登録',class: 'btn btn-info' %>
      </div>
      <% end %>
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div>
            <%= link_to event.title, event %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>