<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/menu' %>
    </div>
    <div class="col-md-8">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title"><%= @event.title %></p>
          <p class="card-text"><%= @event.start_time.strftime("%m/%d") %></p>
          <%= link_to '編集する', edit_event_path(@event),class: 'btn btn-info' %>
          <%= link_to '削除する',event_path(@event.id), method: :delete, class: 'btn btn-danger' %>
          <%= link_to '戻る', events_path,class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>