<div class="container-fluid box-background">
  <div class="row">
    <div class="col-md-12">
      <div class="top-box">
        <h1 class="top-title font-weight-bold">ようこそ、CafeTownへ！</h1>
        <p class="top-text">
          このサイトは、カフェの共有・検索サイトになります。</br>
          会員でない方も投稿の閲覧はできますが、</br>
          新規投稿には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
</div>
<% unless user_signed_in? %>
<p class="text-center m-4 mx-auto"><%= link_to 'お試しログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-secondary fas fa-power-off btn-lg' %></p>
<% end %>
<div class="mx-auto col-md-8 mt-4">
  <h2 class="font-weight-bold"><i class="fas fa-crown"></i>いいねランキング</h2>
  <div class="container">
    <div class="row">
      <% @post_images.each do |post_image| %>
        <div class="col-md-3">
          <div>
          　<p class="card-text">いいね数:<%= post_image.favorites.count %></p>
            <%= link_to post_image_path(post_image), class: "link no-underline", 'data-turbolinks': false do %>
              <%= attachment_image_tag post_image, :image, :fill, 200, 150, class: "card-img-top " %>
              <div class="card-body">
                <h6 class="card-title">
                  <%= post_image.name %>
                </h6>
                <p class="card-text">
                  <%= post_image.prefecture %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="mx-auto col-md-8 mt-4">
  <h2 class="font-weight-bold"><i class="fas fa-edit"></i></i>新着の投稿</h2>
  <div class="container">
    <div class="row">
      <% @posts.last(4).each do |post_image| %>
        <div class="col-md-3">
          <div>
            <%= link_to post_image_path(post_image), class: "link no-underline", 'data-turbolinks': false do %>
              <%= attachment_image_tag post_image, :image, :fill, 200, 150, class: "card-img-top " %>
              <div class="card-body">
                <h6 class="card-title">
                  <%= post_image.name %>
                </h6>
                <p class="card-text">
                  <%= post_image.prefecture %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="all_post_images">
      <%= link_to "全ての投稿を見る >", post_images_path, class: "link no-underline" %>
    </div>
  </div>
</div>