<div class="container mt-3">
  <% if @post_image.errors.any? %>
  <h3><%= @post_image.errors.count %>件のエラー</h3>
  <ul>
    <% @post_image.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="row">
    <%= render'post_images/map' %>
    <div class="col-md-4 text-left mb-3">
      <h2 class="font-weight-bold"><i class="fas fa-paper-plane"></i>新規投稿フォーム</h2>
      <%= form_with model: @post_image, method: :post, local:true do |f| %>
        <div class="field mb-3">
          <label>画像</label><br>
          <%= f.attachment_field :image %>
        </div>
        <div class="field mb-3">
          <label>カフェ名</label><br>
          <%= f.text_area :name, class: 'form-control' %>
        </div>
        <div class="field mb-3">
          <label>キャプション</label><br>
          <%= f.text_area :caption, class: 'form-control' %>
        </div>
        <div class="field mb-3" id="star">
          <label>評価</label>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>
        <script>
        $('#star').empty();
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post_image[rate]',
          half: true,
        });
        </script>
        <div class="field mb-3">
          <label>都道府県</label><br>
          <%= f.select :prefecture, PostImage.prefectures.keys, {} %>
        </div>
        <div class="field mb-3">
          <label>所在地</label><br>
          <%= f.text_area :address, placeholder: "都道府県以降の所在地を入力してください", class: 'form-control' %>
        </div>
        <div class="action mb-3">
          <%= f.submit '投稿',class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <h2 class="font-weight-bold"><i class="fas fa-edit"></i>投稿一覧</h2>
      <%= render 'post_images/each', post_images: @post_images %>
      <%= paginate(@post_images) %>
    </div>
  </div>
</div>