<!DOCTYPE html>
<html>
  <head>
    <title>CafeTown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
    <div id="wrapper">
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <h4 class="font-weight-bold"><%= link_to "CafeTown", root_path, class: 'nav-link' %></h4>
          <nav>
            <ul class="nav justify-content-end">
              <li class="nav-item m-3">
                <a class="nav-link"><%= link_to "About", about_path, class: 'nav-link fas fa-coffee' %></a>
              </li>
              <li class="nav-item m-3">
                <a class="nav-link"><%= link_to "みんなの投稿", post_images_path, class: 'nav-link fas fa-star' %></a>
              </li>
              <%if user_signed_in? %>
              <li class="nav-item m-3">
                <a class="nav-link"><%= link_to "マイページ", user_path(current_user), class: 'nav-link fas fa-user' %></a>
              </li>
              <li class="nav-item m-3">
                <a class="nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link fas fa-sign-out-alt' %></a>
              </li>
              <% else %>
              <li class="nav-item m-3">
                <a class="nav-link"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link fas fa-user-edit' %></a>
              </li>
              <li class="nav-item m-3">
                <a class="nav-link"><%= link_to "ログイン", new_user_session_path, class: 'nav-link fas fa-sign-in-alt' %></a>
              </li>
              <% end %>
            </ul>
            <ul class="nav justify-content-center">
              <div class="search">
                <%= form_with(url: search_post_images_path, local: true, method: :get, class: "search-form") do |form| %>
                  <%= form.text_field :keyword, placeholder: "地名や店名を入力...", class: "search-input" %>
                  <%= form.select :prefecture, PostImage.prefectures.keys.to_a, {} %>
                  <%= form.submit "検索", class: "search-btn" %>
                <% end %>
              </div>
            </ul>
          </nav>
        </div>
  　　</header>
      <%= yield %>
      <footer>
        <div class="py-3 mt-auto">
          <div class="container">
            <small class="font-weight-bold">CafeTown</small>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
